.homeContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 1px solid blue;

    .logoWrap {
        border: 1px solid red;
    }

    .picWrap {
        height: fit-content;
        border: 1px solid red;
    }

    .navWrap {
        border: 1px solid red;
    }
}