.navContainer {
  display: flex;
  justify-content: flex-end;
  width: 180px;
  height: 100vh;

  .nav {
    display: flex;
    justify-self: flex-end;
    width: 100%;

    ul {
      display: flex;
    }

    .navBtn {
      display: flex;
      flex-wrap: wrap;
      place-content: center center;
      height: 100vh;
      width: 60px;
      border: 0px;

      p {
        text-align: center;
        width: 450px;
        transform: rotate(90deg);
        font-size: 1.5rem;
      }
    }

    .navBtn:nth-child(1) {
      background-color: var(--blue);
    }
    .navBtn:nth-child(2) {
      background-color: var(--red);
    }
    .navBtn:nth-child(3) {
      background-color: var(--orange);
    }
  }
}
